<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/pidataskdesign/bootstrap/css/bootstrap.css'
                'bundles/pidataskdesign/bootstrap/css/bootstrap-responsive.css'
                'bundles/pidataskdesign/css/main.css'
                'css/*.css'
                output="css/compiled/main.css" filter='cssrewrite,?yui_css'%}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="{{ path('homepage') }}">Pidatask</a>
                        {{ knp_menu_render('navbar', {'currentClass': 'active', 'template': 'PidataskMainBundle:Menu:knp_navbar.html.twig'}) }}
                        {% if(is_granted('ROLE_USER')) %}
                            <div class="pull-right navbar-text">
                                {{ app.user.username }}
                                <a href="{{ path('fos_user_security_logout') }}">{% trans %}menu.logout{% endtrans %}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2" id="left">
                        {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'PidataskMainBundle:Menu:knp_menu.html.twig'}) }}
                    </div>
                    <div class="span10" id="content">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        {% endblock body %}
        {% block javascripts %}
            {% javascripts
                'bundles/pidataskdesign/js/jquery-*.js'
                'bundles/pidataskdesign/js/underscore.js'
                'bundles/pidataskdesign/js/json2.js'
                'bundles/pidataskdesign/js/backbone.js'
                'bundles/pidataskdesign/bootstrap/js/bootstrap.js'
                'bundles/pidataskmain/js/*.js'
                output='js/compiled/main.js' filter='?yui_js'%}
                    <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
    </body>
</html>
